html, body {
	padding: 0;
	margin: 0;
}
body {
	font-size: 18px;
	font-family: Karla, sans-serif;
}
#static {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	padding: 0 5vw;
	color: white;
}
#menu {
	margin: 30px;
}
#menu strong {
	position: relative;
	top: -8px;
}
#intro {
	height: 100%;
	color: white;
	background-color: rgba(0,0,0,0.3);
}
#intro h1 {
	/*text-align: center;*/
	font-size: 18vw;
	line-height: 0.8;
	letter-spacing: -1.5vw;
	margin-top: 5vh;
	display: inline-block;
	width: 100%;
}
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}
#logo {
	width: 6vw;
	min-width: 50px;
	margin-top: 6vh;
	margin-bottom: 10px;
}
#about {
	background-color: white;
	padding: 50px 0;
}
#about h2 {
	font-size: 270%;
	letter-spacing: -2px;
	line-height: 1.2;
	margin: 0;
}
.lead {
	font-size: 130%;
	color: #999;
}
.larger {
	font-size: 180%;
	margin-top: 20px;
}
h5 {
	border-bottom: 1px solid black;
	padding-bottom: 5px;
	font-size: 100%;
}
#anton {
	float: left;
	margin-right: 15px;
}
.clear {
	clear: both;
}
.menu {
	list-style: none;
	padding: 0;
	text-transform: uppercase;
	font-size: 80%;
	letter-spacing: 2px;
	margin-top: 6vh;
}
.menu li {
	margin-bottom: 15px;
}
.container {
	padding-left: 20vw;
	padding-right: 5vw;
	max-width: 800px;
}
.btn {
	border: 2px solid black;
	padding: 0.8em 1em;
}
.btn:hover {
	color: white;
	background-color: black;
}
a {
	color: black;
}
a.btn {
	text-decoration: none;
	font-weight: bold;
}