html, body {
	padding: 0;
	margin: 0;
}
body {
	font-size: 18px;
	font-family: Karla, sans-serif;
}
#static {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	padding: 0 5vw;
	color: white;
}
#menu {
	margin: 30px;
}
#menu strong {
	position: relative;
	top: -8px;
}
#intro {
	height: 100%;
	color: white;
	background-color: rgba(255,255,255,0.1);
}
#intro h1 {
	/*text-align: center;*/
	font-size: 18vw;
	line-height: 0.8;
	letter-spacing: -1.5vw;
	margin-top: 5vh;
	display: inline-block;
	width: 100%;
}
.title {
	display: block;
}
.title:first-child {
	margin-left: 10%;
}
.title:nth-child(2) {
	margin-left: 5%;
}
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}
#logo {
	width: 6vw;
	min-width: 50px;
	margin-top: 6vh;
	margin-bottom: 10px;
}
#about {
	background-color: white;
	padding: 50px 0 100px;
}
#about h2 {
	font-size: 270%;
	letter-spacing: -2px;
	line-height: 1.2;
	margin: 0;
}
.lead {
	font-size: 130%;
	color: #999;
}
.larger {
	font-size: 160%;
}
#about .larger {
	margin-top: 20px;
	margin-bottom: 80px;
}
h5 {
	font-size: 100%;
	margin: 0;
}
#anton {
	float: left;
	margin-right: 15px;
}
.clear {
	clear: both;
}
.menu {
	list-style: none;
	padding: 0;
	text-transform: uppercase;
	font-size: 80%;
	letter-spacing: 2px;
	margin-top: 6vh;
}
.menu li {
	margin-bottom: 15px;
}
.container {
	padding-left: 22vw;
	padding-right: 5vw;
	max-width: 800px;
}
.btn {
	border: 2px solid black;
	padding: 0.8em 1em;
}
.btn:hover {
	color: white;
	background-color: black;
}
a {
	color: black;
}
a.btn {
	text-decoration: none;
	font-weight: bold;
}
hr {
	border: 0;
	border-top: 1px solid black;
}
.about-wrapper {
	position: relative;
}
hr.above {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 20px;
	width: 100%;
}
.skills {
	font-size: 52px;
	font-weight: bold;
	letter-spacing: -0.1rem;
	text-align: center;
}
.skills span {
	display: inline-block;
	margin: 5px;
}
#skills {
	padding: 70px 0 150px;
	color: white;
}
.white {
	color: white;
}
h5.centered {
	width: 200px;
	margin: 0 auto 50px;
	border-bottom: 1px solid white;
	text-align: center;
	padding-bottom: 20px;
}
.portfolio-wrapper {
	margin: 15px 0 40px;
}
.portfolio-item {
	background-color: white;
	margin: 1px;
	float: left;
	width: 33%;
	text-align: center;
	height: 200px;
	font-size: 16px;
}
.portfolio-item h1 {
	letter-spacing: -0.1rem;
	margin-bottom: 0;
}
.portfolio-item strong {
	color: #999;
}
.btn-white {
	border-color: white;
	color: white;
}
.btn-white:hover {
	background-color: white;
	color: black;
}
.btn-center {
	display: inline-block;
	margin-bottom: 100px;
}